.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
  object-fit: cover;
  box-shadow: var(--iron-bright) 0px 10px 36px 0px,
    var(--iron-drak) 0px 0px 0px 1px;
}

.user-component__title {
  font-weight: 600;
  font-size: 20px;
}

.user-component__subtitle {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 8px;
  display: block;
}
